   <!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Admin home</title>
</head>
<body>
<p>admin home</p>
<a href="/addnewsong"><input type="submit" value="ADD Song"></a>
<br><br>
<form action="viewsong">
<input type="submit" value="VIEW Song"></form>

<form action="createplaylist">
			<input type="submit" value="CREATE PLAYLIST">
		</form>
		<br><br>
		
		<form action="viewplaylist">
			<input type="submit" value="VIEW PLAYLIST">
		</form>
		<br><br>

</body>
</html>